body {
    color: #ccc;
    background-color: #444;
    padding: 1em;
}

/* div#root {
    min-width: 1168px;
} */

a:link,
a:visited {
    color: lightblue
}

div.player-name {
    font-weight: bold;
    font-size: larger;
    padding-top: 1em;
}

div.monospaced {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

div.to-center {
    text-align: center;
}

div.to-right {
    text-align: right;
}

div.wide {
    width: 100%;
}

.stat-block {
    padding: 1em;
}

.stat-block .stat-name {
    font-size: large;
    font-weight: bold;
}

.stat-block .entity-name {
    background-color: #444;
    color: lightskyblue;
    font-weight: bold;
    font-size: x-large;
}

.stat-block .entity-desc {
    /* background-color: #444; */
    /* color: lightskyblue; */
    /* font-weight: bold; */
    font-size: large;
    font-style: italic;
    padding-top: 0.75em;
}

.stat-block hr {
    border: 5px solid lightskyblue;
    border-radius: 5px;
}